.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.extrabold {
    font-weight: 800;
}

.margemt5 {
    margin-top: 5rem;;
}

header {
    background: url(../img/Header\ Background.png) no-repeat center;
    background-size: cover;
    padding: 10rem 0rem 10rem 0rem;
}

.margem {
    padding: 5rem 0rem 5rem 0rem;
}

p {
    font-family: "Open Sans", sans-serif;
}

h2 {
    color: #23272A;
    font-size: 40px;
}

.btn-arredondado {
    padding: 0.375rem 1.5rem !important;;
    border-radius: 1.25rem !important;
}

footer {
    background-color: #23272A;
    padding: 4rem 0rem 4rem 0rem;
}

.exibir-celular {
    display: none;;
}

.btn-cem {
    width: 100%;
    padding: 2rem;
}

@media screen and (max-width: 630px) {
    .esconder-celular {
        display: none !important;
    }
    .exibir-celular {
        display: contents !important;
    }
}